{
  "env": {
    "browser": true
  },
  "extends": ["prettier"],
  "plugins": ["prettier", "react"],
  "rules": {
    "prettier/prettier": "off",
    "react/prop-types": "off",
    "react/style-prop-object": "disabled",
    "eqeqeq": "warn",
    "strict": "off",
    "import/no-extraneous-dependencies": "off",
    "import/prefer-default-export": "off",
    "no-underscore-dangle": "off",
    "no-console": "off",
    "quotes": [
      "error",
      "single",
      {
        "avoidEscape": true,
        "allowTemplateLiterals": true
      }
    ],
    "indent": ["error", 2]
  }
}
